:root {
  --primary-color: #3F51B5;
  --highlight-color: #37277a;
  --sidebar-bg: #1C2533;
  --text-light: #d7ece4;
  --text-dark: #333333;
  --background: #F7F9FC;
  --card-bg: #FFFFFF;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  --radius: 12px;
}

/* Dark mode variables */
[data-theme="dark"] {
  --primary-color: #7986CB;
  --highlight-color: #652ec2;
  --sidebar-bg: #181818;
  --text-light: #e0d8d8;
  --text-dark: #B0BEC5;
  --background: rgba(6, 9, 12, 0.78);
  --card-bg: #1E1E1E;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}


